* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-style: normal;
}

body {
    background: var(--light-blue-light-blue-100, #F3F5FC);
    display: flex;
    flex-flow: row nowrap;
    gap: 80px;
    min-height: 95vh;
    margin: 40px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    gap: 80px;
    margin-bottom: 32px;
}

.message-card {
    flex: 0 0 400px;
    max-width: 400px;
    border-radius: 32px;
    background: var(--white, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 16px;
}

.container-2 {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    gap: 0;
}

.logo-desktop {
    width: 120px;
    height: 48px;
}

.logo-tablet {
    display: none;
    width: 31.086px;
    height: 50.581px;
}

.empty-space {
    flex: 1 2 200px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 680px;
}

textarea {
    border: none;
    outline: none;
    background: var(--light-blue-light-blue-100, #F3F5FC);
    overflow: hidden;
    resize: none;
    flex: 1 1 auto;
}

textarea,
textarea::placeholder {
    color: var(--dark-blue-dark-blue-300, #0A3871);
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}

.buttons-and-tooltip-container {
    flex-grow: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.exclamation {
    width: 16px;
    height: 16px;
}

.tooltip {
    color: var(--gray-gray-400, #495057);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.800000011920929;
}

.button-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.button {
    border-radius: 24px;
    flex: 1 1 328px;
    text-align: center;
    padding: 24px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.encrypt-button {
    background: var(--dark-blue-dark-blue-300, #0A3871);
    color: var(--white, #FFF);
}

.encrypt-button:hover {
    background: #082f5f;
}

.unencrypt-button {
    border: 1px solid var(--dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    color: var(--dark-blue-dark-blue-300, #0A3871);
}

.unencrypt-button:hover {
    background: #ccd5e1;
}

.encrypted-message {
    display: none;
    color: var(--gray-gray-400, #495057);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}

.message-card-image {
    width: 336px;
    height: 304px;
    margin-bottom: 16px;
}

.message-card-title {
    color: var(--gray-gray-500, #343A40);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.message-card-paragraph {
    color: var(--gray-gray-400, #495057);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.copy-button {
    display: none;
    flex: 0 0 67px;
}

@media only screen and (max-width: 768px) {
    body {
        flex-flow: column nowrap;
        gap: 32px;
    }

    .message-card {
        flex: 0 0 133px;
        max-width: 100%;
    }

    header {
        margin-top: 73.42px;
        margin-bottom: 36px;
    }

    .logo-desktop {
        display: none;
    }

    .logo-tablet {
        display: block;
    }

    .empty-space {
        display: none;
    }

    main {
        flex: 1 1 auto;
        max-width: 100%;
    }

    .message-card-image {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    body {
        margin: 16px;
    }

    header {
        margin-top: 8px;
    }

    .button-container {
        flex-direction: column;
    }

    .button {
        flex: 0 1 67px;
        width: auto;
    }
}