* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
}

:root {
    --light-blue-light-blue-100: #F3F5FC;
    --dark-blue-dark-blue-300: #0A3871;
    --gray-gray-400: #495057;
    --white: #FFF;
    --gray-gray-500: #343A40;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--light-blue-light-blue-100);
    padding: 40px;
    display: flex;
    gap: 80px;
}

.column-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

header {
    margin-bottom: 48px;
}

.logo-desktop {
    max-width: 120px;
    max-height: 48px;
}

.logo-mobile {
    display: none;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 200px;
}

#input,
#message {
    flex-grow: 1;
    width: 100%;
    border: none;
    outline: none;
}

#input {
    background-color: var(--light-blue-light-blue-100);
}

#input,
#input::placeholder {
    color: var(--dark-blue-dark-blue-300);
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}

.tooltip {
    display: flex;
    gap: 8px;
}

.exclamation {
    max-width: 16px;
    max-height: 16px;
}

h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: var(--gray-gray-400);
    opacity: 0.800000011920929;
}

.button-group {
    display: flex;
    gap: 24px;
}

button {
    padding: 24px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    max-width: 328px;
}

.button-1,
.button-2,
.button-3 {
    border-width: 1px;
}

.button-1,
.button-2 {
    flex-basis: 50%;
}

.button-1 {
    background-color: var(--dark-blue-dark-blue-300);
    color: var(--white);
    border-color: var(--dark-blue-dark-blue-300);
}

.button-2,
.button-3 {
    background-color: #D8DFE8;
    color: var(--dark-blue-dark-blue-300);
    border-color: var(--dark-blue-dark-blue-300);
}

.card {
    max-width: 400px;
    flex-basis: 400px;
    border-radius: 32px;
    background-color: var(--white);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 32px;
    text-align: center;
}

.card-image {
    max-width: 336px;
    max-height: 304px;
    margin-bottom: 16px;
    width: 100%;
}

h1 {
    color: var(--gray-gray-500);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

h2 {
    color: var(--gray-gray-400);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

#message {
    color: var(--gray-gray-400);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    background-color: var(--white);
    flex-grow: 1;
    display: none;
}

.button-3 {
    min-width: 100%;
    display: none;
}

footer {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    padding-left: 16px;
}

.footer-icon {
    max-width: 16px;
    max-height: 16px;
}

@media only screen and (max-width: 1024px) {
    main {
        padding-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
        gap: 32px;
    }

    header {
        margin-top: 33.42px;
        margin-bottom: 84px;
    }

    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
        max-width: 31.086px;
        max-height: 50.581px;
    }

    .card {
        max-width: 100%;
        flex-basis: auto;
    }

    .card-image {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    body {
        padding: 16px;
    }

    header {
        margin: 8px 0;
    }

    .card {
        margin: 0 8px 24px 8px;
    }

    .button-group {
        flex-wrap: wrap;
    }

    button {
        min-width: 100%;
    }
}